<p id="notice"><%= notice %></p>

<p>
  <strong>Zip:</strong>
  <%= @weather_record.zip %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @weather_record.temp %>
</p>

<p>
  <strong>Description:</strong>
  <%= @weather_record.description %>
</p>
